// font-size
$fs10: 1rem;
$fs12: 1.2rem;
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs20: 2rem;
$fs22: 2.2rem;
$fs24: 2.4rem;
$fs26: 2.6rem;
$fs28: 2.8rem;
$fs30: 3rem;
$fs34: 3.4rem;
$fs40: 4rem;

// transistion
$transition: 0.3s;

// whitespace
$narrow: 1rem;
$normal: 2.4rem;
$wide: 4.8rem;
$widest: 6rem;
$goldRatio: 1.6;

// colors
$white: #fff;
$f4f4f4: #f4f4f4;
$navy: #01263f;
$cl_dark: #888;
// opacity
$opacity: 0.7;

// radius
$radius: 4px;
$radius_small: 10px;
$radius_middle: 16px;
$radius_large: 30px;
