// font-size
$fs10: 1rem;
$fs12: 1.2rem;
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs20: 2rem;
$fs22: 2.2rem;
$fs24: 2.4rem;
$fs26: 2.6rem;
$fs28: 2.8rem;
$fs30: 3rem;
$fs34: 3.4rem;
$fs40: 4rem;
